<!DOCTYPE html>
<html>
<head>
	<title>SET09103</title>
	
	<!-- Add Local SVG image when hosting. -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet"> 
	</head>
<body>
<div class="container  main_header">
	<h3 align="left"><a href="{{url_for('index')}}">Advanced Web Technologies SET09103</a></h3>
	<p>A simple URL shortening web-app</p>
</div>
	<div class=" container modal-content">
	<!-- Array index -> 
		broswer : 
			CHROME ,
			FIREFOX,
			SAFARI,
			OTHER_BROWSER,
		platform:
			ANDROID,
			IOS,
			WINDOWS,
			LINUX ,
			MAC,
			OTHER_PLATFORM
		 -->
	<div class="url_info">
	<h4> Analytics data for : <a href="{{host+info[1]}}">{{'localhost/'+info[1]}}</a></h4>
		<p>Original URL : <a style="text-decoration: none" href="{{info[0]}}">{{info[0]}}</a></p>
	</div>	
	<div class="data_block">
	 <div class="browser_list">
		<h4>Browser</h4>
		<table>
			<thead>
				<tr>
					<th>Chrome</th>
					<th>Firefox</th>
					<th>Safari</th>
					<th>Other Broswers</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td style="padding-left: 5px;">{{browser[0]}}</td>
					<td>{{browser[1]}}</td>
					<td>{{browser[2]}}</td>
					<td>{{browser[3]}}</td>
				</tr>	
			</tbody>
		</table> 	
	 </div>
	 <div class="platform_list">
	 		<h4>Platform</h4>
	 		<table>
			<thead>
				<tr>
					<th>Android</th>
					<th>IOS</th>
					<th>Windows</th>
					<th>Linux</th>
					<th>Mac</th>
					<th>Other Platforms</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="padding-left: 5px;">{{platform[0]}}</td>
					<td>{{platform[1]}}</td>
					<td>{{platform[2]}}</td>
					<td>{{platform[3]}}</td>
					<td>{{platform[4]}}</td>
					<td>{{platform[5]}}</td>
				</tr>	
			</tbody>
		</table> 	
	 				
 	</div>
 	</div>	 
	</div>
</body>
</html>